@frameworkLogoHeight: 40px;

.frameworkLogo {
    height: @frameworkLogoHeight;
}

.pad-top(@amount) {
    margin-top: @amount;
}

.pad-top {
    .pad-top(10px);
}

.inactive{
    color: #969696;
}

.todo-done {
    .inactive;
    text-decoration: line-through;
}

#deleteArchivedButton {
    .pad-top(17px);
    font-size: 15px;
}